// Fonts

@font-face {
    font-family: 'Lato';
    src: url('/font/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/font/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('/font/SourceSans/SourceSans3-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('/font/SourceSans/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Import

@import "_variables";
@import "_mixins";
@import "_general";
@import "_responsive";