// Fonts

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('../fonts/SourceSans/SourceSans3-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('../fonts/SourceSans/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Import

@import "variables";
@import "mixins";
@import "general";
@import "responsive";